<!DOCTYPE html>
<html>
  <head>
    <title>Game Tutor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Game Tutor</h1>
    <p>Welcome to Game Tutor</p>
    Nicolas Ramirez <br>
=======
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    Louise Pei <br>
    Jeff Chen <br>

>>>>>>> 8f018d59f34339db07f627632fc6f6c05b8cc5ff
  </body>
</html>
