<!DOCTYPE html>
<html>
  <head>
    <title>Connect Me</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>Connect Me</h1>

    <p>Welcome to Connect Me</p>

    Hantao Liu <br>
    Louise Pei <br>
    Jeff Chen <br>
    Nicolas Ramirez <br>



  </body>
</html>
