<!DOCTYPE html>
<html>
  <head>
    <title>Game Tutor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Game Tutor</h1>

    <p>Welcome to Game Tutor</p>

    Louise Pei <br>
    Jeff Chen <br>
    Nicolas Ramirez <br>


  </body>
</html>
