<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<<<<<<< HEAD
    Louise Pei <br>
=======
    Jeff Chen <br>
>>>>>>> d0fdbcfb2d213012e88f550a9d833fffb67aa736
  </body>
</html>
