<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<<<<<<< HEAD
    <h1>Game Tutor</h1>

    <p>Welcome to Game Tutor</p>

=======
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    Hantao Liu <br>
>>>>>>> 6f489d7e18f084cbfc85ccde84dbf47601aabece
    Louise Pei <br>
    

  </body>
</html>
